.navbar {
    background-color: #007bff;
  }
  .footer {
    background-color: #007bff; 
    color: #fff; 
    padding: 10px 0;
    margin-top: 20px;
  }
  
  input[type="text"] {
    text-align: center;
  }
  
  .left-side {
    padding-right: 100px;
  }

  .right-side {
    float: right;
    height: 100vh;
    background: #97F9F9;
    /* background: linear-gradient(130deg, rgba(164,222,249,1) 23%, rgba(164,217,249,1) 50%, rgba(164,207,249,1) 83%);  */
    border: 1px solid #97F9F9; 
    border-radius: 5px; 
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); 
    margin-top: -20px; 
    padding: 20px; 
  }
  
  .sidebar-nav a {
    display: block;
    padding: 15px;
    font-size: 18px;
    color: #333;
    text-decoration: none;
    transition: background-color 0.3s;
    margin-bottom: 20px;
  }
  
  .sidebar-nav a:hover {
    background-color: #81dddd;
    color: #fff;
    border-radius: 5px;
  }
  
  #listaPagos .dropdown-item {
    margin-right: 10px;
  }